<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Adicionar Serviço</title>
    <style>
        body {
            background-color: #f6eee3;
            color: #5a3e36;
            font-family: 'Segoe UI', sans-serif;
        }
        .container {
            width: 500px;
            margin: 50px auto;
            background-color: #fffaf5;
            padding: 30px;
            border-radius: 14px;
            box-shadow: 0 8px 20px rgba(90, 62, 54, 0.3);
            border: 2px solid #a0522d;
        }
        h1 {
            text-align: center;
            color: #8b4513;
        }
        label {
            display: block;
            margin-top: 15px;
            font-weight: bold;
        }
        input {
            width: 100%;
            padding: 10px;
            border: 2px solid #a0522d;
            border-radius: 10px;
            background-color: #fffdfb;
        }
        .btn {
            margin-top: 25px;
            width: 100%;
            background-color: #a0522d;
            color: white;
            border: none;
            padding: 12px;
            border-radius: 10px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #8b4513;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Adicionar Serviço</h1>
        <form action="/servico/add" method="POST">
            <label>Nome:</label>
            <input type="text" name="nome" required>
            <label>Descrição:</label>
            <input type="text" name="descricao" required>

            <label>Média de Valor (R$):</label>
            <input type="number" step="0.01" name="mediaValor" required>

            <button class="btn" type="submit">Cadastrar Serviço</button>
            <a class="voltar" href="/servico/lst">← Voltar para lista</a>
        <a class="voltar" href="/">← Voltar a tela inicial</a>
        </form>
    </div>
</body>
</html>
